:root {
    --primary-red: #530507;
    --accent-sand: #9C8A73;
    --bg-main-dark: #1B0D0F;
    --bg-dark-warm: #36110B;
    --text-muted: #644B48;
    --font-logo: 'Homemade Apple', cursive;
    --font-header: 'Iceland', serif;
    --font-body: 'Inter', sans-serif;
}